In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import scipy
import sklearn
import itertools
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn import naive_bayes
from sklearn import metrics    
%matplotlib inline

/Users/travisknop/travis_python/.direnv/python-3.5.0/lib/python3.5/site-packages/sklearn/utils/fixes.py:64: DeprecationWarning: inspect.getargspec() is deprecated, use inspect.signature() instead
  if 'order' in inspect.getargspec(np.copy)[0]:

In [2]:
long_weather = pd.read_csv("~/downloads/5024556898730dat.csv", header = 2)
long_weather.head()

,994971,99999,20110101,0000,4,FM-12,,8.3,1,99,...,9.36,9999.9.3,9.37,9.38,999.9.6,9.39,9.40,999.9.8,9.41,Unnamed: 77
0,994971,99999,20110101,100,4,FM-12,,7.7,1,99,...,9,9999.9,9,9,999.9,9,9,999.9,9,NaN
1,994971,99999,20110101,200,4,FM-12,,7.0,1,99,...,9,9999.9,9,9,999.9,9,9,999.9,9,NaN
2,994971,99999,20110101,300,4,FM-12,,7.2,1,99,...,9,9999.9,9,9,999.9,9,9,999.9,9,NaN
3,994971,99999,20110101,400,4,FM-12,,6.1,1,99,...,9,9999.9,9,9,999.9,9,9,999.9,9,NaN
4,994971,99999,20110101,500,4,FM-12,,6.3,1,99,...,9,9999.9,9,9,999.9,9,9,999.9,9,NaN

In [5]:
temp = long_weather.ix[:, 7]
date = long_weather.ix[:, 2]
hour = long_weather.ix[:, 3]
df3 = pd.DataFrame({'date': date, 'hour': hour/100, 'temp': temp})
df3.head()

       date  hour  temp
0  20110101     1   7.7
1  20110101     2   7.0
2  20110101     3   7.2
3  20110101     4   6.1
4  20110101     5   6.3

In [6]:
hrelec = [
"OI_darthrmwh_iso_4006_20110101_20110214.csv",
"OI_darthrmwh_iso_4006_20110215_20110331.csv",
"OI_darthrmwh_iso_4006_20110401_20110515.csv",
"OI_darthrmwh_iso_4006_20110630_20110630.csv",
"OI_darthrmwh_iso_4006_20110814_20110814.csv",
"OI_darthrmwh_iso_4006_20110814_20110927.csv",
"OI_darthrmwh_iso_4006_20110928_20111110.csv",
"OI_darthrmwh_iso_4006_20111111_20111225.csv",
"OI_darthrmwh_iso_4006_20111226_20111231.csv",
"OI_darthrmwh_iso_4006_20120101_20120214.csv",
"OI_darthrmwh_iso_4006_20120215_20120330.csv",
"OI_darthrmwh_iso_4006_20120331_20120514.csv",
"OI_darthrmwh_iso_4006_20120515_20120628.csv",
"OI_darthrmwh_iso_4006_20120629_20120812.csv",
"OI_darthrmwh_iso_4006_20120813_20120926.csv",
"OI_darthrmwh_iso_4006_20120927_20121109.csv",
"OI_darthrmwh_iso_4006_20121110_20121224.csv",
"OI_darthrmwh_iso_4006_20121225_20121231.csv",
"OI_darthrmwh_iso_4006_20130101_20130214.csv",
"OI_darthrmwh_iso_4006_20130215_20130331.csv",
"OI_darthrmwh_iso_4006_20130401_20130515.csv",
"OI_darthrmwh_iso_4006_20130516_20130629.csv",
"OI_darthrmwh_iso_4006_20130630_20130813.csv",
"OI_darthrmwh_iso_4006_20130714_20130827.csv",
"OI_darthrmwh_iso_4006_20130828_20131011.csv",
"OI_darthrmwh_iso_4006_20131012_20131124.csv",
"OI_darthrmwh_iso_4006_20131125_20131231.csv",
"OI_darthrmwh_iso_4006_20140101_20140214.csv",
"OI_darthrmwh_iso_4006_20140215_20140331.csv",
"OI_darthrmwh_iso_4006_20140401_20140515.csv",
"OI_darthrmwh_iso_4006_20140516_20140629.csv",
"OI_darthrmwh_iso_4006_20140630_20140813.csv",
"OI_darthrmwh_iso_4006_20140814_20140927.csv",
"OI_darthrmwh_iso_4006_20140928_20141110.csv",
"OI_darthrmwh_iso_4006_20141111_20141225.csv",
"OI_darthrmwh_iso_4006_20141226_20150208.csv",
"OI_darthrmwh_iso_4006_20150101_20150214.csv",
"OI_darthrmwh_iso_4006_20150215_20150331.csv",
"OI_darthrmwh_iso_4006_20150401_20150515.csv",
"OI_darthrmwh_iso_4006_20150516_20150629.csv",
"OI_darthrmwh_iso_4006_20150630_20150813.csv",
"OI_darthrmwh_iso_4006_20150814_20150927.csv",
"OI_darthrmwh_iso_4006_20150918_20151101.csv",
"OI_darthrmwh_iso_4006_20151102_20151216.csv"
]

In [7]:
hourly_electric = []
for file in hrelec:
    y = pd.read_csv("~/travis_python/homework/FINAL/FINAL/HourlyElec/{}".format(file), header=6)
    hourly_electric.append(y)
hr_elec = pd.concat(hourly_electric).drop("H", 1)

In [8]:
hr_elec.head()

         Date  Hour ending     MWH   MWH.1
0  2011-01-01            1  1333.2  1438.0
1  2011-01-01            2  1255.4  1348.0
2  2011-01-01            3  1205.7  1285.7
3  2011-01-01            4  1183.3  1252.1
4  2011-01-01            5  1195.2  1242.5